@{ Layout = null; }
@model DropDownList.Models.Product

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Products</title>
</head>
<body>
	@using (Html.BeginForm())
	{
	<div>
		@Html.LabelFor(m => m.Name)
		@Html.EditorFor(m => m.Name)
	</div>
	<div>
		@Html.LabelFor(m => m.Type)
		@Html.EditorFor(m => m.Type, new { htmlAttributes = new { multiple = "multiple" } })
	</div>
	<input type="submit" value="Save" />
	}

</body>
</html>
